<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Leaflet Test</title>

<!-- custom stylesheet stored in static/css !-->
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
media="screen"/>

<!-- jquery !-->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Load Leaflet from CDN-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet-src.js"></script>

<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@2.1.1"></script>

<!-- Esri Leaflet Geocoder -->
<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.6/dist/esri-leaflet-geocoder.css">
<script src="https://unpkg.com/esri-leaflet-geocoder@2.2.6"></script>

</head>

<body>

<div id="mapid"></div>



<script>
var mymap = L.map('mapid').setView([44.0521, -123.0868], 14);

    var tiles = L.esri.basemapLayer("Streets").addTo(mymap);

    // create the geocoding control and add it to the map
    var searchControl = L.esri.Geocoding.geosearch().addTo(mymap);

    // create an empty layer group to store the results and add it to the map
    var results = L.layerGroup().addTo(mymap);

    // listen for the results event and add every result to the map
    searchControl.on("results", function(data) {
        results.clearLayers();
        for (var i = data.results.length - 1; i >= 0; i--) {
            results.addLayer(L.marker(data.results[i].latlng));
        }
    });

//parse api as safe, as it needs to be a string and needs the double quotes
var accessToken = {{api|safe}} 

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: accessToken
}).addTo(mymap);

//feature group for interest points !-->
var InterestPoints = L.featureGroup().addTo(mymap).on("click", Interestclick);

$(document).ready(function(){
		//request json information from flask 
       $.getJSON("/_interest_points", function(data){
       //console.log(data);
       var marker; 
       //take json data and create marker and set to a group to populate the map
       for (var i = 0 ; i < data.length; i++){
        var lat = data[i].lat; 
        var lng = data[i].lng;
        var name = data[i].name; 

        var markerLocation = new L.LatLng(lat,lng);
        marker = new L.Marker(markerLocation).addTo(InterestPoints).bindPopup("Hello I am " + name);
    }

       });
});


//marker click 

function Interestclick(event) {
  console.log("Clicked on marker ");
}
//init to null to remove on another user click 
var marker = null;
//map click to create a thing
mymap.on('click', function(e) {

	var popLocation = e.latlng;
	var address; 
	 
	L.esri.Geocoding.reverseGeocode().latlng(popLocation).run(function(error,result){
		address = result.address.LongLabel;
		var popup = L.popup().setLatLng(popLocation).setContent(address);
		if(marker != null){
			mymap.removeLayer(marker);
		}
		marker = new L.Marker(popLocation).addTo(InterestPoints).bindPopup(popup).openPopup();
	})

	


});

  
</script>


</body> </html>